.align-middle{
    vertical-align: middle !important;
}

.align-top{
    vertical-align: top !important;
}



.vs__dropdown-toggle{

    border-radius: 0px !important;

}



.vs--disabled *{

    background-color: #eeeeee !important;

}



table.table-sm-2x td{

    font-size: 12px;

}



.input-compact{

    padding: 0px 0px 0px 5px !important;

    width: 100% !important;

    height: 22px !important;

}



.no-padding-top{

    padding-top: 0 !important;

}

.no-padding-right{

    padding-right: 0 !important;

}

.no-padding-y{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-padding-x{
    padding-right: 0 !important;
    padding-left: 0 !important;
}



.mr-10{

    margin-right: 10px !important;

}



.datepicker{

    border-radius: 0px !important;

    padding-left: 11px !important;

}



.spacing-y-20{

    margin: 20px 0;

}

.tableFixHead          { overflow: auto; min-height: 100px; max-height: 600px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
.tableFixHead table  { border-collapse: collapse; width: 100%; }
.tableFixHead th, td { padding: 8px 16px; }
.tableFixHead th     { background:#eee; }